.container {
  max-width: 1219px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #007765;
  z-index: 2;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1219px;
}
.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 84px;
  align-items: center;
  margin: 0px 55px 0px 55px;
}
.header_logo {
  flex: 0 0 200px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header_logo img {
  max-width: 100%;
  width: 183.96px;
  height: 45.04px;
  display: block;
}
.header_burger {
  display: none;
}
.header_list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header_list li {
  list-style: none;
  padding: 0px 5px 0px 5px;
  font-size: 24px;
  font-family: roboto;
  font-weight: 500;
  border-right: 1px solid white;
}
.header_link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
@media (max-width:767px) {
  body.lock {
    overflow: hidden;
  }
  .header_body {
    height: 50px;
    margin: 20px 55px 20px 55px; 
  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
}
  .header_burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before,
  .header_burger:after {
    content:'';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left:0;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top: 1px;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #007765;
    padding: 70px 10px 20px 10px;
  }
  .header_menu.active {
    top: 0;
  }
  .header_list {
    display: block;
  }
  .header_list li {
    margin: 0px 0px 20px 0px;
  }
  .header_link {
    font-size: 24px;
  }
}
.main1_container {
  background: url(https://github.com/EvgeniyR1987/PIEDPIPER/blob/main/image.png?raw=true) center no-repeat;
  background-size: cover;
  max-width: 1219px;
  width: 100%;
  height: 403px;
  margin: 0 auto;
  margin-top: 84px;
  padding: 0 55px 0 55px;
  box-sizing: border-box;
}
.main1_title {
  color: white;
  font-family: roboto;
  font-weight: 500;
  font-size: 72px;
  text-align: center;
  line-height: 370px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .main1_title {
    font-size: 20px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main1_title {
    font-size: 30px;
    padding: 0;
  }
}
.main2_container {
  background: #EEEEEE;
  background-size: cover;
  max-width: 1219px;
  width: 100%;
  height: 719px;
  margin-left: auto;
  margin-right: auto;
  padding: 55px;
  box-sizing: border-box;
}
.main2_title {
  color: #007765;
  font-family: roboto;
  font-weight: 500;
  font-size: 64px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .main2_title {
    font-size: 20px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main2_title {
    font-size: 30px;
    padding: 0;
  }
}
 .main2_container p {
  color: #000000;
  font-family: roboto;
  font-weight: 400;
  font-size: 32px;
  padding: 5px 55px 5px 55px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .main2_container p {
      font-size: 15px;
      padding: 0;
  }
 }
 @media screen and (min-width: 768px) and (max-width: 992px) {
  .main2_container p {
      font-size: 20px;
      padding: 0;
  }
 }
 @media screen and (min-width: 992px) and (max-width: 1219px) {
  .main2_container p {
      font-size: 25px;
      padding: 0;
  }
 }
.main3_container {
  max-width: 1219px;
  width: 100%;
  background: url(https://github.com/EvgeniyR1987/PIEDPIPER/blob/main/image1.png?raw=true) center no-repeat;
  background-size: cover;
  background-position: center center;
  height: 483px;
  margin-left: auto;
  margin-right: auto;
  padding: 55px;
  box-sizing: border-box;
}
.main3_title {
  color: #FFFFFF;
  font-family: roboto;
  font-style: italic solid;
  font-weight: 500;
  font-size: 48px;
  padding: 25px 150px 25px 150px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .main3_title {
    font-size: 30px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main3_title {
    font-size: 30px;
    padding: 0;
  }
}
.main4_container {
  background: #FFFFFF;
  background-size: cover;
  max-width: 1219px;
  width: 100%;
  height: 604px;
  margin-left: auto;
  margin-right: auto;
  padding: 55px;
  box-sizing: border-box;
}
.main4_title {
  color: #007765;
  font-family: roboto;
  font-weight: 500;
  font-size: 64px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .main4_title {
    font-size: 20px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main4_title {
    font-size: 30px;
    padding: 0;
  }
}
 .main4_container p {
  color: #000000;
  font-family: roboto;
  font-weight: 400;
  font-size: 32px;
  padding: 5px 55px 5px 55px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .main4_container p {
      font-size: 15px;
      padding: 0;
  }
 }
 @media screen and (min-width: 768px) and (max-width: 992px) {
  .main4_container p {
      font-size: 20px;
      padding: 0;
  }
 }
 @media screen and (min-width: 992px) and (max-width: 1219px) {
  .main4_container p {
      font-size: 25px;
      padding: 0;
  }
 }
.logo1 {
  float: left;
  max-width: 100%;
  width: 115px;
  height: 115px;
  padding: 20px 55px 20px 55px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .logo1 {
     
      padding: 15px;
  }
 }
.main5_container {
  background: #EEEEEE;
  background-size: cover;
  max-width: 1219px;
  width: 100%;
  height: 845px;
  margin: 0 auto;
  padding: 55px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}
.main5_title {
  color: #007765;
  font-family: roboto;
  font-weight: 500;
  font-size: 64px;
  text-align: center;
  line-height: 0px;
  padding: 20px 55px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .main5_title {
    font-size: 20px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main5_title {
    font-size: 30px;
    padding: 0;
  }
}
 .main5_container p {
  color:#000000;
  font-family: roboto;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .main5_container p {
      font-size: 10px;
      padding: 0;
  }
 }
 @media screen and (min-width: 768px) and (max-width: 992px) {
  .main5_container p {
      font-size: 20px;
      padding: 0;
  }
 }
 .main5_container h3 {
  color:#007765;
  font-family: roboto;
  font-weight: 700;
  font-size: 24px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .main5_container h3 {
      font-size: 10px;
      padding: 0;
  }
 }
 @media screen and (min-width: 768px) and (max-width: 992px) {
  .main5_container h3 {
      font-size: 20px;
      padding: 0;
  }
 }
  .img {
   max-width: 100%;
   width: 350px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    display: inline-block;
   justify-content: center;
   margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .img {
      width: 150px;
      height: 100px;
      
  }
 }
 @media screen and (min-width: 768px) and (max-width: 992px) {
  .img {
      width: 200px;
      height: 150px;
  }
 }
 @media screen and (min-width: 992px) and (max-width: 1219px) {
  .img {
      width: 250px;
      height: 200px;
  }
 }
.logo2 {
  max-width: 100%;
    width: 168px;
    height: 168px;
   margin: 0 auto;
  }
  @media screen and (min-width: 320px) and (max-width: 768px) {
      .logo2 {
          width: 60px;
          height: 60px;  
      }
     }
     @media screen and (min-width: 768px) and (max-width: 992px) {
      .logo2 {
          width: 100px;
          height: 100px;
      }
     }
     @media screen and (min-width: 992px) and (max-width: 1219px) {
      .logo2 {
          width: 120px;
          height: 120px;
      }
     }
.footer_container {
  background: #333333;
  background-size: cover;
  max-width: 1219px;
  width: 100%;
  height: 176px;
  margin-left: auto;
  margin-right: auto;
  padding: 55px;
  box-sizing: border-box;
}
.footer_container p {
  color: #FFFFFF;
  font-family: roboto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding: 0 320px 0 320px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer_container p {
      font-size: 10px;
      padding: 0;
  }
 }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer_container p {
      font-size: 10px;
    padding: 0;
  }
 }
